* {
  box-sizing: border-box;
}

body {
  background-color: #DDDDDD;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  padding: 10px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.newColor {
  border-color: blue;
  background-color: #4caf50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

li{
  list-style-type: none;

}
#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;



}
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  color: inherit;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  margin-top: 20%;
  transition: ease-in 2s;
  transition-delay: 1s;
  opacity: 0.8;
  border-radius: 10px


}
.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    background-color: inherit;
  }
