* {
  box-sizing: border-box;
}

body {
  background-color: #DDDDDD;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  padding: 10px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.newColor {
  border-color: blue;
  background-color: #4caf50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

li{
  list-style-type: none;

}
